[includeIf "gitdir:~/projects/"]
	path = personal.config

[core]
    autocrlf = input
    editor = nano
    excludesfile = ~/.gitignore_global

[color]
    diff   = auto
    status = auto
    branch = auto

[branch]
	# Show most recently changed branches first.
	sort = -committerdate

[pull]
	rebase = true

[pretty]
	log = format:"%Cred%cn%Creset: %Cgreen%d%Creset %s %Cblue(%cr)"

[init]
    defaultBranch = master
